{% extends 'base.html' %}

{% block link %}
  <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
  <script src="https://unpkg.com/jcrop"></script>
{% endblock link %}
{% block style %}
  <style>
    * {
      box-sizing: border-box;
    }

    #image-container {
      width:100%;
      max-width: 1080px;
      position: relative;
      overflow: hidden;
      z-index: 0;
    }

    #image-container img {
      width: 100%;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

    #crop-overlay {
      position: absolute;
      border: 2px solid blue;
      pointer-events: auto;
      width: 100%;
      height: 400px;
      z-index: 1;
    }

    #overlay-top {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
    
    #overlay-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
  </style>
{% endblock style %}

{% block content %}
{% block title %}
<h1>나만의 레시피 등록</h1>
{% endblock title %}
<form action="{% block create_url %}{% url 'recipes:create' %}{% endblock create_url %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ recipe_form.media }}
  {% for field in recipe_form %}
    {% if field.name == 'thumbnail_upload' %}
      <div id="image-container">
        <img id="thumbnail_preview" src="" alt="Thumbnail Image">
        <div id="overlay-top"></div>
        <div id="crop-overlay"></div>
        <div id="overlay-bottom"></div>
      </div>
      {{ field.label_tag }}
      {{ field }}
      <input type="hidden" name="crop_y" id="crop-y-input">
      <input type="hidden" name="container_height" id="container-height-input">

    {% elif field.name == 'used_products' %}
    <div class="container used-products__container">
      <div class="row">
        <div class="col">
          <div class="dropdown mt-3 mb-3">
            <button class="button--color btn-hover__blue dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              {{ field.label_tag }}
            </button>
            <ul class="dropdown-menu" style="max-height: 120px; overflow-y: auto;">
              <input class="form-control dropdown-search" type="text" placeholder="검색">
              {% for product in field %}
                <li><a class="dropdown-item">{{ product }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col" id="selected_products_wrapper">
          {% comment %} 드랍다운에서 선택한 옵션 표시 {% endcomment %}
          <h3>선택한 사용 제품</h3>
          <div id="selected_products"></div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="mb-3">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endif %}
  {% endfor %}
  <div class="create__btn__container">
    <input style="width:100%;" class="button--color btn-hover__blue" type="submit" value="등록" id="submit-button">
  </div>
</form>

{% block script %}
<script>
  {% comment %} 썸네일 미리보기 {% endcomment %}
  const imageContainer = document.getElementById('image-container')
  const cropOverlay = document.getElementById('crop-overlay')
  var startY, offsetY
  var minTop, maxTop

  function adjustOverlayHeight() {
    const overlayTop = cropOverlay.offsetTop
    const overlayHeight = cropOverlay.offsetHeight
    
    document.getElementById('overlay-top').style.height = overlayTop + 'px'
    document.getElementById('overlay-bottom').style.height = (imageContainer.offsetHeight - overlayTop - overlayHeight) + 'px'
    document.getElementById('crop-y-input').value = overlayTop
  }

  cropOverlay.addEventListener('mousedown', function(event) {
    startY = event.clientY
    offsetY = cropOverlay.offsetTop
    minTop = 0
    maxTop = imageContainer.offsetHeight - cropOverlay.offsetHeight
  })

  cropOverlay.addEventListener('mousemove', function(event) {
    if (startY) {
      var moveY = event.clientY - startY
      var newTop = offsetY + moveY

      if (newTop > maxTop) {
        cropOverlay.style.top = maxTop + 'px'
      } else if (newTop < minTop) {
        cropOverlay.style.top = minTop + 'px'
      } else {
        cropOverlay.style.top = newTop + 'px'
      }
      adjustOverlayHeight()
    }
  })

  cropOverlay.addEventListener('mouseup', function(event) {
    startY = null
    offsetY = null
    minTop = null
    maxTop = null
  })

  document.getElementById('id_thumbnail_upload').addEventListener('change', function(event) {
    var file = event.target.files[0]
    var reader = new FileReader()

    reader.onload = function(e) {
      var img = document.getElementById('thumbnail_preview')
      img.src = e.target.result
      cropOverlay.style.display = 'block'

      img.onload = function() {
        var containerHeight = imageContainer.offsetHeight
        var overlayTopHeight  = (containerHeight - cropOverlay.offsetHeight) / 2
        cropOverlay.style.top = overlayTopHeight + 'px'
        maxTop = containerHeight - cropOverlay.offsetHeight
        adjustOverlayHeight()
        document.getElementById('container-height-input').value = containerHeight
      }
    }

    reader.readAsDataURL(file)
  })

  {% comment %} 사용된 제품 진짜 하.... {% endcomment %}
  const dropdownMenuList = document.querySelectorAll('.dropdown-menu');
  const selectedProducts = new Set();

  
  dropdownMenuList.forEach(function(dropdownMenu) {
    const dropdownToggle = dropdownMenu.parentElement.querySelector('.dropdown-toggle');
    const dropdownSearch = dropdownMenu.querySelector('.dropdown-search');
    const dropdownItems = dropdownMenu.querySelectorAll('.dropdown-item');
    

    dropdownItems.forEach(function(dropdownItem) {
      dropdownItem.addEventListener('click', function(event) {
        event.preventDefault();
        event.stopPropagation();
        const product = event.target.textContent;
        if (selectedProducts.has(product)) {
          selectedProducts.delete(product);
          dropdownItem.querySelector('input[type="checkbox"]').checked = false;
        } else {
          selectedProducts.add(product);
          dropdownItem.querySelector('input[type="checkbox"]').checked = true;
        }

        updateSelectedProducts();
      });
    
    



    dropdownSearch.addEventListener('input', function(event) {
      const searchText = event.target.value.toLowerCase();
      dropdownItems.forEach(function(dropdownItem) {
        const itemText = dropdownItem.textContent.toLowerCase();
        if (itemText.includes(searchText)) {
          dropdownItem.style.display = '';
        } else {
          dropdownItem.style.display = 'none';
        }
      });
    });
  
    dropdownToggle.addEventListener('click', function(event) {
      dropdownSearch.value = '';
      dropdownItems.forEach(function(dropdownItem) {
        dropdownItem.style.display = '';
      });
    });
  });
});


function updateSelectedProducts() {
  const selectedProductsDiv = document.querySelector('#selected_products');
  selectedProductsDiv.innerHTML = '';

  dropdownMenuList.forEach(function(dropdownMenu) {
    dropdownMenu.querySelectorAll('.dropdown-item').forEach(function(dropdownItem) {
      const product = dropdownItem.textContent;
      const checkbox = dropdownItem.querySelector('input[type="checkbox"]');
      
      if (checkbox.checked) {
        // 선택된 제품에 대한 삭제 버튼이 없는 경우에만 추가
        if (!selectedProducts[product]) {
          const listItem = document.createElement('li');
          listItem.textContent = product;

          const image = dropdownItem.querySelector('img'); // 이미지 요소 가져오기
          const imageClone = image.cloneNode(true); // 이미지 요소 복제

          const deleteButton = document.createElement('button');
          deleteButton.textContent = 'X';
          deleteButton.classList.add('delete-product-btn', 'btn', 'btn-outline-danger');
          deleteButton.addEventListener('click', function() {
            checkbox.checked = false;
            listItem.remove();
            delete selectedProducts[product];
          });

          listItem.appendChild(imageClone); // 이미지 요소 추가
          listItem.appendChild(deleteButton);
          selectedProducts[product] = listItem;
        }
      } else {
        // 선택이 취소된 경우, 해당 제품에 대한 삭제 버튼이 있으면 제거
        if (selectedProducts[product]) {
          selectedProducts[product].remove();
          delete selectedProducts[product];
        }
      }
    });
  });
  
  // 선택된 제품 목록을 출력
  const list = document.createElement('ul');
  for (const product in selectedProducts) {
    list.appendChild(selectedProducts[product]);
  }
  
  selectedProductsDiv.appendChild(list);
}
</script>
<style>
  #thumbnail_preview img {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
  }
  #selected_products ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  }

  #selected_products li {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--main-color);
    padding: 5px;
    border-radius: 0.5rem;
  }
  .delete-product-btn {
  margin-left: 10px;
  }
  #selected_products_wrapper h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .used-products__container {
    border-top: 1px solid var(--subtle-color);
    border-bottom: 1px solid var(--subtle-color);    
    padding: 15px;
  }

  .create__btn__container {
    padding: 10px 0 0 0;
    text-align: right;
  }
  .dropdown-item .product-image {
    width: 50px;
    height: 50px;
  }
  #selected_products .product-image {
    width: 200px;
    height: 200px;
  }
  .dropdown-item {
    z-index: 1500;
  }
</style>
{% endblock script %}
{% endblock content %}