{% extends 'base.html' %}


{% block content %}
{% block title %}
<h1>나만의 레시피 등록</h1>
{% endblock title %}
<form action="{% block create_url %}{% url 'recipes:create' %}{% endblock create_url %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ recipe_form.media }}
  {% for field in recipe_form %}
    {% if field.name == 'thumbnail_upload' %}
      <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        <div id="thumbnail_preview" style="max-width: 100px;"></div>
      </div>
    {% elif field.name == 'used_products' %}
    <div class="container used-products__container">
      <div class="row">
        <div class="col">
          <div class="dropdown mt-3 mb-3">
            <button class="button--color btn-hover__blue dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              {{ field.label_tag }}
            </button>
            <ul class="dropdown-menu" style="max-height: 120px; overflow-y: auto;">
              <input class="form-control dropdown-search" type="text" placeholder="검색">
              {% for product in field %}
                <li><a class="dropdown-item">{{ product }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col" id="selected_products_wrapper">
          {% comment %} 드랍다운에서 선택한 옵션 표시 {% endcomment %}
          <h3>선택한 사용 제품</h3>
          <div id="selected_products"></div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="mb-3">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endif %}
  {% endfor %}
  <div class="create__btn__container">
    <input style="width:100%;" class="button--color btn-hover__blue" type="submit" value="등록">
  </div>
</form>

{% block script %}
<script>
  {% comment %} 썸네일 미리보기 {% endcomment %}
  function previewThumbnail(event) {
    const preview = document.querySelector('#thumbnail_preview');
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.addEventListener('load', function() {
      const image = new Image();
      image.src = this.result;
      preview.innerHTML = '';
      preview.appendChild(image);
    });

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.innerHTML = '';
    }
  }

  const thumbnailUpload = document.querySelector('#id_thumbnail_upload');
  thumbnailUpload.addEventListener('change', previewThumbnail);


  {% comment %} 사용된 제품 진짜 하.... {% endcomment %}
  const dropdownMenuList = document.querySelectorAll('.dropdown-menu');
  const selectedProducts = new Set();

  
  dropdownMenuList.forEach(function(dropdownMenu) {
    const dropdownToggle = dropdownMenu.parentElement.querySelector('.dropdown-toggle');
    const dropdownSearch = dropdownMenu.querySelector('.dropdown-search');
    const dropdownItems = dropdownMenu.querySelectorAll('.dropdown-item');
    

    dropdownItems.forEach(function(dropdownItem) {
      dropdownItem.addEventListener('click', function(event) {
        const product = event.target.textContent;
        if (selectedProducts.has(product)) {
          selectedProducts.delete(product);
          dropdownItem.querySelector('input[type="checkbox"]').checked = false;
        } else {
          selectedProducts.add(product);
          dropdownItem.querySelector('input[type="checkbox"]').checked = true;
        }

        updateSelectedProducts();
      });
    
    



    dropdownSearch.addEventListener('input', function(event) {
      const searchText = event.target.value.toLowerCase();
      dropdownItems.forEach(function(dropdownItem) {
        const itemText = dropdownItem.textContent.toLowerCase();
        if (itemText.includes(searchText)) {
          dropdownItem.style.display = '';
        } else {
          dropdownItem.style.display = 'none';
        }
      });
    });
  
    dropdownToggle.addEventListener('click', function(event) {
      dropdownSearch.value = '';
      dropdownItems.forEach(function(dropdownItem) {
        dropdownItem.style.display = '';
      });
    });
  });
});


function updateSelectedProducts() {
  const selectedProductsDiv = document.querySelector('#selected_products');
  selectedProductsDiv.innerHTML = '';

  dropdownMenuList.forEach(function(dropdownMenu) {
    dropdownMenu.querySelectorAll('.dropdown-item').forEach(function(dropdownItem) {
      const product = dropdownItem.textContent;
      const checkbox = dropdownItem.querySelector('input[type="checkbox"]');
      
      
      if (checkbox.checked) {
        // 선택된 제품에 대한 삭제 버튼이 없는 경우에만 추가
        if (!selectedProducts[product]) {
          const listItem = document.createElement('li');
          listItem.textContent = product;

          const deleteButton = document.createElement('button');
          deleteButton.textContent = 'X';
          deleteButton.classList.add('delete-product-btn', 'btn', 'btn-outline-danger');
          deleteButton.addEventListener('click', function() {
            checkbox.checked = false;
            listItem.remove();
            delete selectedProducts[product];
          });

          listItem.appendChild(deleteButton);
          selectedProducts[product] = listItem;
        }
      } else {
        // 선택이 취소된 경우, 해당 제품에 대한 삭제 버튼이 있으면 제거
        if (selectedProducts[product]) {
          selectedProducts[product].remove();
          delete selectedProducts[product];
        }
      }
    });
  });
  
  // 선택된 제품 목록을 출력
  const list = document.createElement('ul');
  for (const product in selectedProducts) {
    list.appendChild(selectedProducts[product]);
  }
  selectedProductsDiv.appendChild(list);
}
</script>
<style>
  #thumbnail_preview img {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
  }
  #selected_products ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  }

  #selected_products li {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--main-color);
    padding: 5px;
    border-radius: 0.5rem;
  }
  .delete-product-btn {
  margin-left: 10px;
  }
  #selected_products_wrapper h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .used-products__container {
    border-top: 1px solid var(--subtle-color);
    border-bottom: 1px solid var(--subtle-color);    
    padding: 15px;
  }

  .create__btn__container {
    padding: 10px 0 0 0;
    text-align: right;
  }

</style>
{% endblock script %}
{% endblock content %}