{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/recipes_detail.css' %}">
{% endblock style %}

{% block content %}
{% comment %} <p>{{ recipe.id }}</p> {% endcomment %}
{% comment %} 썸네일 이미지 {% endcomment %}
<div class="container-fluid">
  <img class="recipe__main-image" src="{{ recipe.thumbnail_upload.url}}" alt="{{ recipe.thumbnail_upload }}">
</div>
{% comment %} 레시피 header {% endcomment %}
<div class="recipe__header">
  <h1 class="recipe__title">{{ recipe.title }}</h1>
  {% comment %} 유저 정보 {% endcomment %}
  <div class="recipe__user-container">
    <div class="recipe__user-container__left">
      <div class="recipe__user__image__container">
        {% if recipe.user.image %}
        <img class="recipe__user__image" src="{{ recipe.user.image}}" alt="{{ recipe.user.username }}의 프로필 이미지">
        {% else %}
        <img class="recipe__user__image" src="{% static 'image/no_image432.png' %}" alt="유저 프로필 사진 없음">
        {% endif %}
      </div>
      <div class="recipe__user__info">
        <p>{{ recipe.user.username }}</p>
        <p>{{ recipe.updated_at|date:'y. m. d' }}</p>
      </div>
    </div>
    <div class="recipe__user-container__right">
      {% comment %} 유저 {% endcomment %}
      <form action="">
        <input class="btn btn-secondary recipe__user-container__follow-btn" type="submit" name="" id="" value="+ 팔로우">
      </form>
    </div>
  </div>
</div>
{% comment %} 레시피 content (CK editor 작성 결과 화면) {% endcomment %}
<div class="recipe__content">
  <p>{{ recipe.content|safe }}</p>
</div>

{% comment %} 마지막 유저 정보 및 글 정보 {% endcomment %}
<div class="recipe__footer__info">
  <p class="recipe__footer__info__item">좋아요 {{ recipe.like_users.count }}</p>
  <p class="recipe__footer__info__item">댓글 {{ recipe.comment_set.count }}</p>
  <p class="recipe__footer__info__item">조회 {{ recipe.hits }}</p>
</div>
{% comment %} 레시피 댓글 {% endcomment %}
<div class="recipe__comment">
  <p class="recipe__comment__info">댓글 <span class="recipe__comment__info--figure">{{ recipe.comment_set.count }}</span></p>
</div>
{% comment %} 댓글 작성란 {% endcomment %}
{% comment %} 현재 기능 미구현 이미지 첨부 고려 x 상태 {% endcomment %}
<form class="recipe__comment__form" action="">
  <div class="recipe__comment__user__image">
    {% if request.user.image %}
    <img class="recipe__user__image" src="{{ request.user.image}}" alt="{{ request.user.username }}의 프로필 이미지">
    {% else %}
    <img class="recipe__user__image" src="{% static 'image/no_image432.png' %}" alt="유저 프로필 사진 없음">
    {% endif %}
  </div>
  <div class="recipe__comment__input-area">
    <input class="recipe__comment__input-area__input--text"type="text" placeholder="칭찬과 격려의 댓글은 작성자에게 큰 힘이 됩니다 :)">
    <input class="btn recipe__comment__input-area__input--submit" type="submit" name="" id="" value="제출">
  </div>
</form>
{% comment %} 댓글 표시 {% endcomment %}
<div class="recipe__comment__list">
  {% for comment in comments %}
  <div class="recipe__comment__item">
    <div class="recipe__user__image__container">
      {% if recipe.user.image %}
      <img class="recipe__user__image" src="{{ comment.user.image}}" alt="{{ comment.user.username }}의 프로필 이미지">
      {% else %}
      <img class="recipe__user__image" src="{% static 'image/no_image432.png' %}" alt="유저 프로필 사진 없음">
      {% endif %}
    </div>
    {% comment %} 여 {% endcomment %}
    {% comment %} 기 {% endcomment %}
    {% comment %} 까 {% endcomment %}
    {% comment %} 지 {% endcomment %}
    <div>
      <p>{{ comment.user.username }}</p>
      <p>{{ comment.user.content }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}