{% extends 'base.html' %}
{% load static humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/recipes_detail.css' %}">
<link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock style %}

{% block content %} 
{% comment %} <p>{{ recipe.id }}</p> {% endcomment %}
{% comment %} 썸네일 이미지 {% endcomment %}
<div class="recipe__main-image__container">
  <img class="recipe__main-image" src="{{ recipe.thumbnail_crop.url}}" alt="{{ recipe.thumbnail_upload }}">
</div>
{% comment %} 레시피 header {% endcomment %}
<div class="recipe__header">
  <div class="recipe__header__status">
    <div class="recipe__header-container__left">
      <h1 class="recipe__title">{{ recipe.title }}</h1>
      <p class="recipe__rate"><i class="bi bi-star-fill"></i> {{ average_rate|floatformat:1 }}</p>
      <p class="recipe__status">
        <i class="bi bi-eye-fill"></i> {{ recipe.hits }}
        <i class="bi bi-bookmark-heart-fill"></i> {{ recipe.like_users.count }}
      </p>
    </div>
    <div class="recipe__header-container__right">
      <a href="{% url 'accounts:profile' recipe.user.username %}">
        <div class="recipe__header__userinfo">
          <div class="recipe__header__user__container">
            {% if recipe.user.image %}
            <img class="recipe__user__image" src="{{ recipe.user.image.url }}" alt="{{ recipe.user.username }}의 프로필 이미지">
            {% else %}
            <img class="recipe__user__image" src="{% static 'image/no_image432.png' %}" alt="유저 프로필 사진 없음">
            {% endif %}
          </div>
          <p>{{ recipe.user.username }}</p>
        </div>
      </a>
      <p class="recipe__date">{{ recipe.updated_at|date:'y. m. d' }}</p>
    </div>
  </div>
  {% comment %} 글수정/글삭제/팔로우 버튼 공간 {% endcomment %}
  <div class="recipe__header__btn-container">
    {% if request.user == recipe.user %}
    <a class="button--color btn-hover__blue me-2" href="{% url 'recipes:update' recipe.pk %}">글 수정</a>
    <button type="button" class="button--color btn-hover__blue me-2" data-bs-toggle="modal" data-bs-target="#recipeDeleteModal">
      글 삭제
    </button>
    {% else %}
    <form action="{% url 'recipes:recipe_like' recipe.pk %}" method="post">
      {% csrf_token %}
      {% if request.user in recipe.like_users.all %}
      <input class="button--color btn-hover__blue" type="submit" value="레시피 팔로우 취소">
      {% else %}
      <input class="button--color btn-hover__blue" type="submit" value="레시피 팔로우">
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>

{% comment %} 레시피 재료 {% endcomment %}
<div class="recipe__used-product__container">
  <h2>사용된 제품</h2>
  {% comment %} 레시피에 들어가는 재료 캐루젤  {% endcomment %}
  <div class="owl-carousel owl-theme mb-3">
    {% for used_product in recipe.used_products.all %}
    <a href="{% url 'products:detail' used_product.pk %}">
      <div class="item card">
        <img class="card-img-top" src="{{ used_product.Thumbnail.url }}" alt="{{ used_product.name }}의 사진">
        <div class="card-body">
          <h5 class="card-title">{{ used_product.name }}</h5>
          <p class="card-text">{{ used_product.price|intcomma }}원</p>
        </div>
      </div> 
    </a>  
    {% endfor %}
  </div>
  {% comment %} 레시피 재료 총액 {% endcomment %}
  <div class="recipe__used-product__sum">
    <h3>총액: <span class="text--main">{{ total_price|intcomma }}</span>원</h3>
  </div>
</div>

{% comment %} ck editor로 작성된 화면 {% endcomment %}
<div class="recipe__content ck ck-content">
  <div class="ck__content-container">
    {{ recipe.content|safe }}
  </div>
</div>

{% comment %} 댓글 작성 {% endcomment %}
<h2>레시피 리뷰 <span class='text--main'>{{reviews|length}}</span></h2>
  <div class="review-submit--container">
    <form action="{% url 'recipes:review_create' recipe.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% comment %}  별점 입력 {% endcomment %}
      <div class="star-rating star-rating--submit" data-rating="0">
        {% comment %} <input type="hidden" name="rating" value="0"> {% endcomment %}
        <i class="bi bi-star-fill star filled" data-value="1"></i>
        <i class="bi bi-star-fill star" data-value="2"></i>
        <i class="bi bi-star-fill star" data-value="3"></i>
        <i class="bi bi-star-fill star" data-value="4"></i>
        <i class="bi bi-star-fill star" data-value="5"></i>
        <div class="start-rating-descript">
          <p>별을 클릭하여 리뷰를 평가해보세요</p>
        </div>
      </div>
      {% comment %} review 본문 작성 {% endcomment %}
      <div class="comment-content--container">
        {{ review_form.content }}
      </div>
      {% comment %} 레이팅과 사진 실제 폼 (출력 x) {% endcomment %}
      <div class='d-none'>
        <div>{{ review_form.rating }}</div>
        <div>{{ review_form.image }}</div>
      </div>
      {% comment %} preview image 표시되는 곳 {% endcomment %}
      <div class="d-flex">
        <div class="label--container">
          <label class="input-test-box" for="input-commentimage">
            <i class="bi bi-camera-fill"></i>
          </label>
        </div>
        <div id="preview">
        </div>
      </div>
      <div class="submit-btn--container">
        <input type="submit" value="리뷰 작성" class='button--color'>
      </div>
    </form>
  </div>

  {% comment %} 작성된 댓글 {% endcomment %}
    {% for review in reviews %}
    <div class='row '>
      <span>{{review.user}}</span>
      <span>{{review.content}}</span>
      <span>{{review.updated_at|date:"Y-m-d"}}</span>
    </div>
    <div class="star-rating">
      <div>
        <p>{{ review.comment }}</p>
        {% for i in "12345" %}
          {% if forloop.counter <= review.rating %}
            {% with star_color="#0097F3" %}
              <i class="bi bi-star-fill star_sub" style="color:{{ star_color }}"></i>
            {% endwith %}
          {% else %}
            {% with star_color="#000" %}
              <i class="bi bi-star-fill star_sub" style="color:{{ star_color }}"></i>
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var currentRating = 0;
    var stars = document.querySelectorAll('.star-rating .star')
    
    function fillStars(el) {
      // 호버한 별과 그 앞의 모든 별을 채운다.
      var rating = el.getAttribute('data-value')
      for (var i = 0; i < stars.length; i++) {
        if (i < rating) {
          stars[i].classList.add('filled')
        } else {
          stars[i].classList.remove('filled')
        }
      }
    }
    
    function setRating(el) {
      // 클릭한 별과 그 앞의 모든 별을 채운다.
      var rating = el.getAttribute('data-value')
      for (var i = 0; i < stars.length; i++) {
        if (i < rating) {
          stars[i].classList.add('selected')
        } else {
          stars[i].classList.remove('selected')
        }
      }
      currentRating = rating;
    
      // rating 값을 form의 rating input 요소에 할당
      var ratingInput = document.querySelector('input[name=rating]')
      ratingInput.value = rating
    }
    
    function unfillStars() {
      // 모든 별을 검은색으로 변경한다.
      for (var i = 0; i < stars.length; i++) {
        stars[i].classList.remove('filled')
      }
    }
    
    // 이벤트 리스너 추가
    var starRating = document.querySelector('.star-rating');
    starRating.addEventListener('mouseover', function(e) {
      if (e.target.classList.contains('star')) {
        fillStars(e.target);
      }
    })
    
    starRating.addEventListener('mouseout', function(e) {
      if (e.target.classList.contains('star')) {
        unfillStars();
      }
    })
    
    starRating.addEventListener('click', function(e) {
      if (e.target.classList.contains('star')) {
        setRating(e.target);
      }
    })
    // 사진 업로드 미리보기
    function previewImages(event) {
      var input = event.target;
      var preview = document.getElementById('preview');
      preview.innerHTML = ''; // clear previous preview images
      if (input.files && input.files.length > 0) {
          for (var i = 0; i < input.files.length; i++) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  var img = document.createElement('img');
                  img.src = e.target.result;
                  img.className = 'thumbnail';
                  
                  var closeBtn = document.createElement('button');
                  closeBtn.innerText = 'x';
                  closeBtn.className = 'close-btn';
                  closeBtn.onclick = function() {
                      preview.removeChild(wrapper);
                      input.value = ''; // reset the file input to allow re-selection of the same file
                  }
                  
                  var wrapper = document.createElement('div');
                  wrapper.className = 'thumbnail-wrapper';
                  wrapper.appendChild(closeBtn);
                  wrapper.appendChild(img);
                  preview.appendChild(wrapper);
              }
              reader.readAsDataURL(input.files[i]);
          }
      }
    }
  </script>

  

{% comment %} 댓글 삭제 모달 {% endcomment %}
{% include 'recipes/detail_delete_modal.html' %}
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/recipes_detail_owl.js' %}"></script>

{% endblock script %}
