{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock link %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/products_index.css' %}">
{% endblock style %}

{% block content %}
<div class='container main--padding'>
  {% comment %} 레시피 등록 {% endcomment %}
  <div class='mt-3'> 
    <a href="{% url 'recipes:create' %}" class='button--color p-3 rounded'>
      <i class="bi bi-cloud-plus me-2 ms-1"></i>
      나만의 레시피 등록하러 가기
    </a>
  </div>
  {% comment %} Carousel 나열 {% endcomment %}
  <p class='title--content--2'>가장 많이 찾은 레시피👍</p>
  <div class='owl-carousel owl-theme recipes-owl'>
    {% for recipe in recipes_like %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'recipes:detail' recipe.pk %}">
        <img src="{{ recipe.thumbnail.url}}" class='card--border__image rounded' alt="{{ recipe.title }}의 이미지">  
        <div class='card--name--box'>
          <strong class='card--name'>{{ recipe.title }}</strong>
        </div>
        <div class='card--tag--border'>
          <p>조회수 {{ recipe.hits }}</p>
          <p>리뷰 {{ recipe.comment_set.count }}</p>
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>

  <p class='title--content--2'>가장 평이 좋은 레시피🏆</p>
  <div class='owl-carousel owl-theme recipes-owl'>
    {% for recipe in recipes_rating %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'recipes:detail' recipe.pk %}">
        <img src="{{ recipe.thumbnail.url}}" class='card--border__image rounded' alt="{{ recipe.title }}의 이미지">  
        <div class='card--name--box'>
          <strong class='card--name'>{{ recipe.title }}</strong>
        </div>
        <div class='card--tag--border'>
          <p>조회수 {{ recipe.hits }}</p>
          <p>리뷰 {{ recipe.comment_set.count }}</p>
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>

  <p class='title--content--2'>신제품이 들어간 레시피🆕</p>
  <div class='owl-carousel owl-theme recipes-owl'>
    {% for recipe in recipes_newproduct %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'recipes:detail' recipe.pk %}">
        <img src="{{ recipe.thumbnail.url}}" class='card--border__image rounded' alt="{{ recipe.title }}의 이미지">  
        <div class='card--name--box'>
          <strong class='card--name'>{{ recipe.title }}</strong>
        </div>
        <div class='card--tag--border'>
          <p>조회수 {{ recipe.hits }}</p>
          <p>리뷰 {{ recipe.comment_set.count }}</p>
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>

  <p class='title--content--2'>가성비 좋은 레시피🤔</p>
  <div class='owl-carousel owl-theme recipes-owl'>
    {% for recipe in recipes_pricelow %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'recipes:detail' recipe.pk %}">
        <img src="{{ recipe.thumbnail.url}}" class='card--border__image rounded' alt="{{ recipe.title }}의 이미지">  
        <div class='card--name--box'>
          <strong class='card--name'>{{ recipe.title }}</strong>
        </div>
        <div class='card--tag--border'>
          <p>조회수 {{ recipe.hits }}</p>
          <p>리뷰 {{ recipe.comment_set.count }}</p>
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>

  <p class='title--content--2'>호화끝판왕 레시피🤑</p>
  <div class='owl-carousel owl-theme recipes-owl'>
    {% for recipe in recipes_pricehigh %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'recipes:detail' recipe.pk %}">
        <img src="{{ recipe.thumbnail.url}}" class='card--border__image rounded' alt="{{ recipe.title }}의 이미지">  
        <div class='card--name--box'>
          <strong class='card--name'>{{ recipe.title }}</strong>
        </div>
        <div class='card--tag--border'>
          <p>조회수 {{ recipe.hits }}</p>
          <p>리뷰 {{ recipe.comment_set.count }}</p>
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>
  {% comment %} 전체 상품 나열 {% endcomment %}
  <p class='title--content'>모든 레시피📜</p>
  <div class="row">
    {% for recipe in recipes_page %}
    <div class="col-6 col-md-4 col-lg-3">
      <div class='card--border card--border--gray'>
        <a href="{% url 'recipes:detail' recipe.pk %}">
          <img src="{{ recipe.thumbnail.url }}" class='card--border__image rounded' alt="{{ recipe.title }}의 이미지">  
          <div class='card--name--box'>
            <strong class='card--name'>{{ recipe.title }}</strong>
          </div>
          <div class='card--tag--border'>
            <p>조회수 {{ recipe.hits }}</p>
            <p>리뷰 {{ recipe.comment_set.count }}</p>
          </div>
        </a>  
      </div>
    </div>
    {% endfor %}
  </div>
  {% comment %} 페이지네이터 {% endcomment %}
  <ul class="pagination justify-content-center">
    {% if  recipes_page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="처음">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only"></span>
      </a>
    </li>
      <li class="page-item">
        <a class="page-link" href="?page={{   recipes_page.previous_page_number }}">이전</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    {% for page_number in   recipes_page.paginator.page_range %}
      {% if page_number >=  recipes_page.number|add:-2 and page_number <=   recipes_page.number|add:2 %}
        {% if page_number ==  recipes_page.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if   recipes_page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{   recipes_page.next_page_number }}">다음</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ recipes_page.paginator.num_pages }}" aria-label="마지막">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
    {% endif %}
  </ul>

</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/recipes_index_owl.js' %}"></script>
{% endblock script %}
