.text--main {
  color: var(--main-color)
}

.text--secondary {
  color: var(--secondary-color)
}

.text--subtle {
  color: var(--subtle-color)
}

.text--sub {
  color: var(--sub-color)
}

.bg--main {
  background-color: var(--main-color);
}

.bg--secondary {
  background-color: var(--secondary-color);
}

.bg--subtle {
  background-color: var(--subtle-color);
}

.bg--sub {
  background-color: var(--sub-color);
}