a {
  color: black; 
}

.button--color{
  background-color: var(--main-color);
  color: white;
}

/* card */
.main--padding{
  padding-left: 80px;
  padding-right: 80px;
}

.card--border {
  box-shadow : 5px 5px 5px 1px var(--subtle-color);
  display: inline-block;
  /* 카드 너무 작아서 width 90% 추가했음 */
  width: 90%;
  overflow: hidden;
  margin-bottom: 20px;
}

.card--border__image {
  width: 100%;
}

.title--content{
  margin-top:3rem;
  font-size: 30px;
  font-weight: bold;
}

.title--content--2{
  margin-top:6rem;
  font-size: 30px;
  font-weight: bold;
}

.card--tag--border {
  border-bottom: solid 1px var(--subtle-color);
  padding-left: 10px;
}

.card--tag--border--recipe {
  border-bottom: solid 1px var(--subtle-color);
  display: flex;
  justify-content: right;
  color: var(--sub-color)
}

.card--tag--border--recipe > p {
  margin: 0 10px 5px 10px;
}

.card--tag--background {
  background-color: var(--subtle-color);
}

.card--rating__color {
  color:var(--secondary-color)
}

.card--name--box {
  width: 120px;
  font-size: 20px;
  margin-bottom : 20px;
  padding-left: 10px;
}

.card--name{
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* owl */
 .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-130%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}


.owl-nav button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--subtle-color);
  transition: background-color 0.2s ease-in-out;
}

.owl-dot{
  margin-top: 2rem;
}

.carousel--bottom {
  margin-bottom: 100px;
}


@media (max-width: 768px) {
  .main--padding{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1.25s infinite;
  color: var(--main-color);
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 5%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.store {
  font-weight: bold;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 5px;
}

.img--container {
  position: relative;
}
  