.recipe__main-image__container {
  display: flex;
  justify-content: center;
}

.recipe__main-image {
  width: 110%;
  margin: 0 auto;
}

.recipe__header {
  margin: 15px 0 30px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--subtle-color);
}

.recipe__header__status {
  display: flex;
  justify-content: space-between;
}

.recipe__title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 40px;
  font-weight: 700;
}

.recipe__rate {
  font-size: 28px;
  color: var(--main-color);
}

.recipe__status {
  color: var(--secondary-color);
}

.recipe__header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.recipe__header-container__left {
}

.recipe__header__user__container{
  height: 34px;
  margin-right: 10px;
}

.recipe__user__image {
  height: 100%;
  border-radius: 50%;
}

.recipe__header-container__right {
  height: 32px;
  text-align: right;
}

.recipe__header__userinfo {
  display: flex;
  align-items: center;
}

.recipe__date {
  color: var(--subtle-color)
}

.recipe__header__btn-container {
  display: flex;
  justify-content: flex-end;
}

/* Used product carousel */
.recipe__used-product__container {
  margin: 0 0 30px 0;
  border-bottom: 1px solid var(--subtle-color);
}

.card-body {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.card-text {
  text-align: right;
}

.recipe__used-product__sum {
  text-align: right;
}


/* CK editor 작성 결과 화면  */
.recipe__content{
  width: 100%;
  margin: 0 0 30px 0;
  border-bottom: 1px solid var(--subtle-color);
  padding: 15px
}

.ck__content-container {
  display: inline-block;
}

/* 레시피 댓글 */
.review-submit--container {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 10px;
}

.recipe__review__input-area--form {
  margin: 0 5px 0 5px;
  width: 100%;
  border: 1px solid var(--subtle-color);
  border-radius: 4px;
  outline: none;
  word-break: break-word;
  overflow-y: auto;
  cursor: text;
  font-size: 16px;
  line-height: 30px;
}

/* 별점 실험 */
.star-rating--submit {
  font-size: 30px;
  text-align: center;
}

.start-rating-descript {
  font-size: 16px;
  margin-bottom: 10px;
}
.star {
  cursor: pointer;
}

.star i {
  display: block;
  margin: 0 auto;
}

.star.filled,
.star.selected {
  color: #0097F3;
}

.comment-content--container {
  margin: 10px 0 10px 0;
}

/* 사진 업로드 미리보가 */
.thumbnail-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 10px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.label--container {
  width: 150px;
  height: 150px;
}

.input-test-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border: 1px solid var(--subtle-color);
  font-size: 40px;
  color: var(--subtle-color);
}

.thumbnail {
  width: 150px;
  height: 150px;
}

.submit-btn--container {
  text-align: right;
  margin: 10px 0 0 10px;
}