.recipe__main-image__container {
  display: flex;
  justify-content: center;
}

.recipe__main-image {
  width: 110%;
  margin: 0 auto;
}

.recipe__header {
  margin: 15px 0 30px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--subtle-color);
}

.recipe__header__status {
  display: flex;
  justify-content: space-between;
}

.recipe__title {
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 40px;
  font-weight: 700;
}

.recipe__rate {
  font-size: 28px;
  color: var(--main-color);
}

.recipe__status {
  color: var(--secondary-color);
}

.recipe__header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.recipe__header-container__left {
}

.recipe__header__user__container{
  height: 34px;
  margin-right: 10px;
}

.recipe__user__image {
  height: 100%;
  border-radius: 50%;
}

.recipe__header-container__right {
  height: 32px;
  text-align: right;
}

.recipe__header__userinfo {
  display: flex;
  align-items: center;
}

.recipe__date {
  color: var(--subtle-color)
}

.recipe__header__btn-container {
  display: flex;
  justify-content: flex-end;
}

/* Used product carousel */
.recipe__used-product__container {
  margin: 0 0 30px 0;
  border-bottom: 1px solid var(--subtle-color);
}

.card-body {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.card-text {
  text-align: right;
}

.recipe__used-product__sum {
  text-align: right;
}


/* CK editor 작성 결과 화면  */
.recipe__content{
  width: 100%;
  margin: 0 0 30px 0;
  border-bottom: 1px solid var(--subtle-color);
  padding: 15px
}

.ck__content-container {
  display: inline-block;
}

/* 레시피 댓글 */
.recipe__comment {
  
}

.recipe__comment__info{
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.recipe__comment__form{
  display: flex;
  align-items: center
}

.recipe__comment__info--figure{
  color: var(--main-color);
}

.recipe__comment__user__image{
  height: 34px;
  margin-right: 10px;
}

.recipe__comment__input-area {
  width: 100%;
  display: flex;
  border: 1px solid var(--subtle-color);
  border-radius: 4px;
}

.recipe__comment__input-area__input--text{
  min-width: 100px;
  flex: 1 0 0%;
  min-height: 24px;
  margin: 9px 0px;
}

.recipe__comment__input-area--form {
  margin: 0 5px 0 5px;
  width: 100%;
  border: none;
  outline: none;
  word-break: break-word;
  overflow-y: auto;
  cursor: text;
  font-size: 16px;
  line-height: 24px;
}

.recipe__comment__input-area__input--image {
  width: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 0 5px;
}

.recipe__comment__input-area__input--image > label {
  display: flex;
  align-items: center;
}

.recipe__comment__input-area__input--image > label > i:hover {
  color: var(--main-color)
}

.recipe__comment__input-area__input--submit {
  border: none;
  background-color: rgba(0,0,0,0);
  font-weight: bold;
}

.recipe__comment__input-area__input--submit:hover{
  color: var(--main-color)
}

.recipe__comment__list{
}

.recipe__comment__item {
  display: flex;
}