{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="container-fluid d-flex justify-content-center mt-5">
      <div class="container" style="width: 500px;">
        <h1 class='text-center fw-bold'>로그인</h1>
        <form action="{% url 'accounts:login' %}" method="POST" class="form-text">
            {% csrf_token %}
            {% for field in form  %}
            <div class="mb-3">
                <label for="{{ field.label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-secondary w-100 fs-3 mt-5" value="로그인">
        </form>
        <div class="w-100 text-center mt-5">


          {% comment %} 소셜 로그인 부분입니다. {% endcomment %}
          
            {% load socialaccount %}

                <a href="{% provider_login_url 'kakao' method='oauth2' %}">
                  <img src="{% static 'image/kakao_login.png' %}" alt="kakao"  class="w-100">
                </a>
                <a href="{% provider_login_url 'google' method='oauth2' %}">
                    <img src="{% static 'image/google.png' %}"  class="w-100">
                </a>
                <a href="{% provider_login_url 'naver' method='oauth2' %}">
                    <img src="{% static 'image/naver_login.png' %}" class="w-100" >
                </a>
          
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
