{% load static %}

<div class="container nav__flex nav--div ">
  <div class="nav--left__wrap">
    <div class="nav--left--image-container">
      <a href="{% url 'recipes:index' %}">
        <img src="{% static 'image/logo_t.png' %}" alt="logo" class="nav--image" >             
      </a>
    </div>
    <div class="nav--left__wrap">
      <a href="{% url 'recipes:index' %}" class="btn nav--button nav--btn">레시피</a>
      <a href="{% url 'products:index' %}" class="btn nav--button nav--btn">제품</a>
      <form class="search_hidden" action="{% url 'searchs:search' %}" role="search">
        <div class='d-flex'>
          {% comment %} <span class="nave__search__icon"><i class="bi bi-search"></i></span> {% endcomment %}
          <button type='submit'class='button--reversecolor--clear btn-hover__reverseblue rounded'><i class="bi bi-search"></i></button>
          <input type="search" placeholder="원하는 상품을 검색해보세요" class= 'form-control' aria-label="Search" name='q'>
        </div>
      </form>
    </div>
  </div>
  
  <div class="nav--right__wrap">
    {% if request.user.is_authenticated %}
      <a href="{% url 'accounts:profile' request.user.username %}"> {{request.user.username}} 님</a> 
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button class="btn nav--button nav--btn" type="submit">Logout</button> 
      </form>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="btn nav--button nav--btn">Login</a>
      <a href="{% url 'accounts:signup' %}" class="btn nav--button nav--btn">Signup</a>
      {% endif %}
  </div>
  </div>
</div>        
