{% extends "base.html" %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock link %}
{% block style %}
<style>
</style>
{% endblock style %}

{% block content  %}
<h1>제품 등록</h1>
<form action="{% url 'products:create' %}" method = 'POST' enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="mb-3">
    {{ field.label_tag}}
    {{ field }}
  </div>
  {% endfor %}
  <button type="submit" class='button--color w-100 rounded'>등록</button> 
</form>
{% endblock content %}
