{% extends 'base.html' %}
{% block style %}
<style>
  .button--color {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: solid 1px var(--main-color);
  }
</style>
{% endblock style %}

{% block content %}
<h1>detail</h1>
<div class='d-flex row'>
  <p>작성자 : {{product.user}}</p>
  <p>번호: {{ product.pk }}</p>
  <p>제목: {{ product.name }}</p>
  <p>내용: {{ product.content }}</p>

  {% comment %} 이미지 {% endcomment %}
  {% if product.photo %}
  <img src="{{product.photo.url}}" alt="image">
  {% endif %} 

  <a href="{% url 'products:update' product.pk %}" class='button--color rounded'>수정</a>
</div>

<h2>리뷰</h2>

<form action="{% url 'products:review_create' product.pk %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ review_form.as_p }}
  {{ review_img.as_p }}
  <input type="submit" value="리뷰 작성">
</form>

{% for review in reviews %}
  {{review.content}}
{% endfor %}



{% endblock content %}
