{% extends 'base.html' %}

{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
{% endblock link %}
{% block style %}
<style>
  .star-rating {
    font-size: 24px;
  }
  
  .star {
    cursor: pointer;
  }
  
  .star.filled,
  .star.selected {
    color: gold;
  }

</style>
{% endblock style %}


{% block content %}
<div class='d-flex row main--padding'>
  <p class='category--style'>{{ product.category }}</p>
  <div class='d-flex justify-content-between align-items-center'>
    <p class='title--font title--style'>{{ product.name }}</p>
    
      <p>태그 :
  {% for tag in tags %}
     {{tag}},
  {% endfor %}</p>

    
    {% comment %} <form class="like-form" data-product-id="{{ product.pk }}"> {% endcomment %}
    <form action="{% url 'products:likes' product.pk %}" method='POST' >
      {% csrf_token %}
      {% if request.user in product.like_users.all %}
        <button type='submit' class="bi bi-heart-fill title--likescount btn" id="like-btn"></button>
        {% else %}
        <button type='submit' class="bi bi-heart title--likescount btn" id="like-btn"></button>
      {% endif %}
      <span id="like-count">{{product.like_users.count}}</span> 
    </form>
  </div>
  <hr>

  {% if product.photo %}
  <div class='text-center'>
    <img src="{{product.photo.url}}" alt="image" class='content--image'>
  </div>
  {% endif %} 

  <p class='content--style'>{{ product.content }}</p>
  <hr>


  <h5>댓글 <span class='review--color'>{{reviews|length}}</span></h5>
  <div></div>
  <div class='container'>
    <form action="{% url 'products:review_create' product.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class='row'>
        <div class='col-10 p-0'>
          {{ review_form.content }}
          <div class='d-flex my-3 align-items-center'>
            <div>{{ review_form.rating }}</div>
            <div class='review--image__padding'>{{ review_img.image }}</div>
          </div>
        </div>
        <div class='col-2 p-0'>
          <input type="submit" value="리뷰 작성" class='button--color rounded btn--size'>
        </div>
        <div class="star-rating" data-rating="0">
          {% comment %} <input type="hidden" name="rating" value="0"> {% endcomment %}
          <span class="star" data-value="1">&#9733;</span>
          <span class="star" data-value="2">&#9733;</span>
          <span class="star" data-value="3">&#9733;</span>
          <span class="star" data-value="4">&#9733;</span>
          <span class="star" data-value="5">&#9733;</span>
        </div>
      </div>
    </form>
  </div>

  {% for review in reviews %}
    <div class='container'>
      <div class='row mb-2'>
        <span class='col-2 review--user'>{{review.user}}</span>
        <span class='col-8'>{{review.content}}</span>
        <span class='col-2 review--updated_at'>{{review.updated_at|date:"Y-m-d"}}</span>

      </div>
      {% for review_img in review.review_image_set.all %}
        {% if review_img.image %}
          <div>
            <img class='content--image' src="{{ review_img.image.url }}" alt="review.img">
          </div>
          {% endif %}
      {% endfor %}
    </div>

  <div class='d-flex justify-content-between'>

    <form action="{% url 'products:review_likes' product.pk review.pk %}">
      {% csrf_token %}
      {% if request.user in review.like_users.all %}
      <button type='submit' class="bi bi-heart-fill title--likescount btn fs-4" id="review-like-btn"></button>
      {% else %}
      <button type='submit' class="bi bi-heart title--likescount btn fs-4" id="review-like-btn"></button>
      {% endif %}
    </form>
    
    <div class='d-flex mb-2'>
      {% if request.user == review.user %}
      <form action="{% url 'products:review_delete' product.pk review.pk %}" method='POST'>
        {% csrf_token %}
        <button type="submit" class="subtle--button--color rounded me-2">삭제</button>
      </form>
      
      <!-- Button trigger modal -->
      <button type="button" class="button--color rounded edit--model--botton" data-bs-toggle="modal" data-bs-target="#edit">
        수정
      </button>
    
      <!-- Modal -->
      <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editLabel">리뷰 수정</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'products:review_update' product.pk review.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ review_form.as_p }}
                {{ review_img.as_p }}
                {% comment %} <input type="submit"> {% endcomment %}
              </div>
              <div class="modal-footer">
                <button type="button" class="subtle--button--color rounded" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn button--color rounded">수정</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      </div>
    </div>
    <hr>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      {% comment %} var currentRating = 0;
      var stars = document.querySelectorAll('.star-rating .star');
      
      function fillStars(el) {
        // 호버한 별과 그 앞의 모든 별을 채운다.
        var rating = el.getAttribute('data-value');
        for (var i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add('filled');
          } else {
            stars[i].classList.remove('filled');
          }
        }
      }
      
      function setRating(el) {
        // 클릭한 별과 그 앞의 모든 별을 채운다.
        var rating = el.getAttribute('data-value');
        for (var i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add('selected');
          } else {
            stars[i].classList.remove('selected');
          }
        }
        currentRating = rating;
      }
      
      function unfillStars() {
        // 모든 별을 검은색으로 변경한다.
        for (var i = 0; i < stars.length; i++) {
          stars[i].classList.remove('filled');
        }
      }
      
      // 이벤트 리스너 추가
      var starRating = document.querySelector('.star-rating');
      starRating.addEventListener('mouseover', function(e) {
        if (e.target.classList.contains('star')) {
          fillStars(e.target);
        }
      });
      
      starRating.addEventListener('mouseout', function(e) {
        if (e.target.classList.contains('star')) {
          unfillStars();
        }
      });
      
      starRating.addEventListener('click', function(e) {
        if (e.target.classList.contains('star')) {
          setRating(e.target);
        }
      }); {% endcomment %}

      {% comment %} var currentRating = 0;
      var stars = document.querySelectorAll('.star-rating .star');
      
      function fillStars(el) {
        // 호버한 별과 그 앞의 모든 별을 채운다.
        var rating = el.getAttribute('data-value');
        for (var i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add('filled');
          } else {
            stars[i].classList.remove('filled');
          }
        }
      }
      
      function setRating(el) {
        // 클릭한 별과 그 앞의 모든 별을 채운다.
        var rating = el.getAttribute('data-value');
        for (var i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add('selected');
          } else {
            stars[i].classList.remove('selected');
          }
        }
        currentRating = rating;
      
        // rating 값을 form의 rating input 요소에 할당
        var ratingInput = document.querySelector('#id_rating');
        ratingInput.value = rating;
      }
      
      function unfillStars() {
        // 모든 별을 검은색으로 변경한다.
        for (var i = 0; i < stars.length; i++) {
          stars[i].classList.remove('filled');
        }
      }
      
      // 이벤트 리스너 추가
      var starRating = document.querySelector('.star-rating');
      starRating.addEventListener('mouseover', function(e) {
        if (e.target.classList.contains('star')) {
          fillStars(e.target);
        }
      });
      
      starRating.addEventListener('mouseout', function(e) {
        if (e.target.classList.contains('star')) {
          unfillStars();
        }
      });
      
      starRating.addEventListener('click', function(e) {
        if (e.target.classList.contains('star')) {
          setRating(e.target);
        }
      }); {% endcomment %}
      {% comment %} const ratingInput = document.querySelector('input[name=rating]');
      const stars = document.querySelectorAll('.star-rating .star');
    
      stars.forEach(star => {
        star.addEventListener('click', () => {
          const rating = star.dataset.value;
          ratingInput.value = rating;
        });
      }); {% endcomment %}

      var currentRating = 0;
      var stars = document.querySelectorAll('.star-rating .star');
      
      function fillStars(el) {
        // 호버한 별과 그 앞의 모든 별을 채운다.
        var rating = el.getAttribute('data-value');
        for (var i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add('filled');
          } else {
            stars[i].classList.remove('filled');
          }
        }
      }
      
      function setRating(el) {
        // 클릭한 별과 그 앞의 모든 별을 채운다.
        var rating = el.getAttribute('data-value');
        for (var i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add('selected');
          } else {
            stars[i].classList.remove('selected');
          }
        }
        currentRating = rating;
      
        // rating 값을 form의 rating input 요소에 할당
        var ratingInput = document.querySelector('input[name=rating]');
        ratingInput.value = rating;
      }
      
      function unfillStars() {
        // 모든 별을 검은색으로 변경한다.
        for (var i = 0; i < stars.length; i++) {
          stars[i].classList.remove('filled');
        }
      }
      
      // 이벤트 리스너 추가
      var starRating = document.querySelector('.star-rating');
      starRating.addEventListener('mouseover', function(e) {
        if (e.target.classList.contains('star')) {
          fillStars(e.target);
        }
      });
      
      starRating.addEventListener('mouseout', function(e) {
        if (e.target.classList.contains('star')) {
          unfillStars();
        }
      });
      
      starRating.addEventListener('click', function(e) {
        if (e.target.classList.contains('star')) {
          setRating(e.target);
        }
      });
    </script>
    {% endblock content %}

