{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock link %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/products_index.css' %}">
{% endblock style %}

{% block content %}
<div class='container main--padding'>
  <div class='mt-3'> 
    <a href="{% url 'products:create' %}" class='button--color p-3 rounded'>
      <i class="bi bi-cloud-plus me-2 ms-1"></i>
      새 상품 등록하러 가기
      </a>
  </div>
  <p class='title--content--2'>신상품</p>
    <div class='owl-carousel new_owl-carousel owl-theme' >
      {% for product in new_products %}
      <div class='card--border card--border--gray'>
        <a href="{% url 'products:detail' product.pk %}">
          <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
          <div class='card--name--box'>
            <strong class='card--name'>{{product.name}}</strong>
          </div>
          
          
          
          
          <div class='card--tag--border'>
            <p><i class="bi bi-star-fill card--rating__color "></i>{{product.hits}}</p>
            <p>리뷰 {{product.comment_set.count}}</p>
          <div class='card--tag--border pb-1'>
            <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
            <p>리뷰 {{product.review_set.count}}</p>
          </div>
            
            
            
            
            
            
          <div class='mt-1'>
            {% for tag in product.tags.all %}
              <span class='me-2'>#{{tag}}</span>
            {% endfor %}
          </div>
        </a>  
      </div>
      {% endfor %}
  </div>

  <p class='title--content--2'>최고 평점 5개</p>
  <div class='owl-carousel hits_owl-carousel owl-theme' >
    {% for product in hits_products %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'products:detail' product.pk %}">
        <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
        <div class='card--name--box'>
          <strong class='card--name'>{{product.name}}</strong>
        </div>
        <div class='card--tag--border'>
          <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
          <p>리뷰 {{product.review_set.count}}</p>
        </div>
        <div>
          {% for tag in product.tags.all %}
            <span class='me-2'>#{{tag}}</span>
          {% endfor %}
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>

  <p class='title--content--2'>인기순</p>
    <div class='owl-carousel like_owl-carousel owl-theme' >
      {% for product in like_products %}
      <div class='card--border card--border--gray'>
        <a href="{% url 'products:detail' product.pk %}">
          <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
          <div class='card--name--box'>
            <strong class='card--name'>{{product.name}}</strong>
          </div>
          <div class='card--tag--border'>
            
            
            
            
            

            <p><i class="bi bi-star-fill card--rating__color"></i>{{product.hits}}</p>
            <p>리뷰 {{product.comment_set.count}}</p>
          
            <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
            <p>리뷰 {{product.review_set.count}}</p>
          
          
          
            
          
          
          </div>
          <div>
            {% for tag in product.tags.all %}
              <span class='me-2'>#{{tag}}</span>
            {% endfor %}
          </div>
        </a>  
      </div>
      {% endfor %}
  </div>

    <p class='title--content'>모든 상품</p>
      <div class='owl-carousel owl-theme' >
        {% for product in products %}
        <div class='card--border card--border--gray'>
          <a href="{% url 'products:detail' product.pk %}">
            <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
            <div class='card--name--box'>
              <strong class='card--name'>{{product.name}}</strong>
            </div>
            <div class='card--tag--border'>
              
              
              
              
              
              

              <p><i class="bi bi-star-fill card--rating__color"></i>{{product.hits}}</p>
              <p>리뷰 {{product.comment_set.count}}</p>

              <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
              <p>리뷰 {{product.review_set.count}}</p>

            
            
            
            
            
            
            </div>
            <div>
              {% for tag in product.tags.all %}
                <span class='me-2'>#{{tag}}</span>
              {% endfor %}
            </div>
          </a>  
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/products_index.js' %}"></script>
{% endblock script %}
