{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock link %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/products_index.css' %}">
<link rel="stylesheet" href="{% static 'css/store.css' %}">
<style>
</style>
{% endblock style %}

{% block content %}
<div class='container main--padding'>
  <div class='mt-3'> 
    <a href="{% url 'products:create' %}" class='button--color p-3 rounded'>
      <i class="bi bi-cloud-plus me-2 ms-1"></i>
      새 상품 등록하러 가기
      </a>
  </div>
  <ul class="d-flex mt-5">
    <a href="{% url 'products:index' %}"><li class="btn filter">모두 보기</li></a>
    <a href="{% url 'products:filter_products' '간편 식사' %}"><li class="btn filter">간편 식사</li></a>
    <a href="{% url 'products:filter_products' '과자류' %}"><li class="btn filter">과자류</li></a>
    <a href="{% url 'products:filter_products' '냉동 식품' %}"><li class="btn filter">냉동 식품</li></a>
    <a href="{% url 'products:filter_products' '빵' %}"><li class="btn filter">빵</li></a>
    <a href="{% url 'products:filter_products' '아이스크림' %}"><li class="btn filter">아이스크림</li></a>
    <a href="{% url 'products:filter_products' '음료' %}"><li class="btn filter">음료</li></a>
  </ul>
  
  <p class='title--content--2 mt-5'>신상품</p>
    <div class='owl-carousel owl-theme new_owl-carousel' >
      {% for product in new_products %}
      <div class='card--border card--border--gray'>
        <a href="{% url 'products:detail' product.pk %}">
          <div class="img--container">
            <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
            {% if product.is_new %}   
            <p class="blink">New</p>
            {% endif %}
          </div>
          <div class='card--name--box'>
            <strong class='card--name'>{{product.name}}</strong>
          </div>
          <div class='card--tag--border pb-1'>
            <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
            <p>댓글 {{product.comment_set.count}}</p>
          </div>  
          <div class='mt-1'>
            {% for tag in product.tags.all %}
              <span class='me-2'>#{{tag}}</span>
            {% endfor %}
          </div>
        </a>  
      </div>
      {% endfor %}
  </div>

  <p class='title--content--2'>Gs25 상품</p>
  <div class='owl-carousel hits_owl-carousel owl-theme' >
    {% for product in GS_products %}
    <div class='card--border card--border--gray'>
      <a href="{% url 'products:detail' product.pk %}">
        <div class="img--container">
          <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
          {% if product.is_new %}   
          <p class="blink">New</p>
          {% endif %}
          <p class='gs store'>Gs25</p>
        </div>
        <div class='card--name--box'>
          <strong class='card--name'>{{product.name}}</strong>
        </div>
        <div class='card--tag--border'>
          <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
          <p>댓글 {{product.comment_set.count}}</p>
        </div>
        <div>
          {% for tag in product.tags.all %}
            <span class='me-2'>#{{tag}}</span>
          {% endfor %}
        </div>
      </a>  
    </div>
    {% endfor %}
  </div>

  <p class='title--content--2'>CU 상품</p>
    <div class='owl-carousel like_owl-carousel owl-theme' >
      {% for product in CU_products %}
      <div class='card--border card--border--gray'>
        <a href="{% url 'products:detail' product.pk %}">
          <div class="img--container">
            <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
            {% if product.is_new %}   
            <p class="blink">New</p>
            {% endif %}
            <p class='cu store'>CU</p>
          </div>
          <div class='card--name--box'>
            <strong class='card--name'>{{product.name}}</strong>
          </div>
          <div class='card--tag--border'>    
            <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
            <p>댓글 {{product.comment_set.count}}</p>
          </div>
          <div>
            {% for tag in product.tags.all %}
              <span class='me-2'>#{{tag}}</span>
            {% endfor %}
          </div>
        </a>  
      </div>
      {% endfor %}
  </div>

  <p class='title--content--2'>7-eleven 상품</p>
    <div class='owl-carousel like_owl-carousel owl-theme' >
      {% for product in Seven_Eleven_products %}
      <div class='card--border card--border--gray'>
        <a href="{% url 'products:detail' product.pk %}">
          <div class="img--container">
            <img src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
            {% if product.is_new %}   
            <p class="blink">New</p>
            {% endif %}
            <p class='store p-0'>
              <img src="{% static 'image/seven.png' %}" style="width: 34px;" alt="">
            </p>
          </div>
          <div class='card--name--box'>
            <strong class='card--name'>{{product.name}}</strong>
          </div>
          <div class='card--tag--border'>    
            <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
            <p>댓글 {{product.comment_set.count}}</p>
          </div>
          <div>
            {% for tag in product.tags.all %}
              <span class='me-2'>#{{tag}}</span>
            {% endfor %}
          </div>
        </a>  
      </div>
      {% endfor %}
  </div>



  <p class='title--content'>전체 상품</p>
  <div class='row' >
    {% for product in products %}

    <div class="col-6 col-md-4 col-lg-3">
      <div class='card--border card--border--gray'>
        <a href="{% url 'products:detail' product.pk %}">
          <div class="img--container">
            <img style="width:100%;" src="{{product.Thumbnail.url}}" class='rounded' alt="img">  
            {% if product.is_new %}   
            <p class="blink">New</p>
            {% endif %}
            </div>
            <div class='card--name--box'>
              <strong class='card--name'>{{product.name}}</strong>
            </div>
            <div class='card--tag--border'>
              <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{product.like_users.count}}</p>
              <p>댓글 {{product.comment_set.count}}</p>
            </div>
            <div>
              {% for tag in product.tags.all %}
                <span class='me-2'>#{{tag}}</span>
              {% endfor %}
            </div>
          </a>  
        </div>
      </div>
      {% endfor %}
  </div>
    {% comment %} 페이지네이터 {% endcomment %}
    <ul class="pagination justify-content-center">
      {% if  products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="처음">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
        <li class="page-item">
          <a class="page-link" href="?page={{   products.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}
      {% for page_number in   products.paginator.page_range %}
        {% if page_number >=  products.number|add:-2 and page_number <=   products.number|add:2 %}
          {% if page_number ==  products.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if   products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{   products.next_page_number }}">다음</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="마지막">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only"></span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/products_index.js' %}"></script>


<script>
</script>
{% endblock script %}
